.controlsContainer {
    display: flex;
    justify-content: center;
    margin: 0.5rem 1rem 1rem 1rem;
}
  
.button {
  color: white;
  font-family: 'Cinzel', sans-serif;  
  font-weight: 900;
  font-size:0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0.5rem;
  padding: 1rem;
  width: 100px;
  background: black;
  outline: none;
  border: 5px solid white;
  border-radius: 15px;
  box-shadow: 0px 1px 10px #000000;
  text-align: center;
  cursor: pointer;
}

.hitButton{
  border: 5px solid  #00a600;
  color: #00a600;
  box-shadow: inset 0 0 10px #00a600,0 0 10px #00a600;   
}

.standButton{
  border: 5px solid  #d40000;
  color: #d40000;
  box-shadow: inset 0 0 10px #d40000,0 0 10px #d40000;
}

.resetButton{
  border: 5px solid  #0077b6;
  color: #0077b6;
  box-shadow: inset 0 0 10px #0077b6,0 0 10px #0077b6;
}

.betButton{
  border: 5px solid  #eab308;
  color: #eab308;
  box-shadow: inset 0 0 10px #eab308,0 0 10px #eab308; 
}

@keyframes pulse {
  0% {
    box-shadow: inset 0 0 10px #eab308, 0 0 10px #eab308;
  }
  50% {
    box-shadow: inset 0 0 20px #facc15, 0 0 30px #facc15;
  }
  100% {
    box-shadow: inset 0 0 10px #eab308, 0 0 10px #eab308;
  }
}

.playButton{
  border: 5px solid  #eab308;
  color: #eab308;
  box-shadow: inset 0 0 10px #eab308,0 0 10px #eab308;  
  font-size: 1.3rem;
  animation: pulse 2s infinite;
  transition: all 0.3s ease;
}

.betContainer {
  display: flex;
  align-items: center;
  justify-content:space-between;
  color: white;
  font-size: 2rem;
  margin: 0 0.5rem;
  padding: 0 1rem;
  width: 300px;
  background: black;
  border: 5px solid white;
  border-radius: 15px;
  box-shadow: 0px 1px 10px rgb(0, 0, 0);
}

.sliderBox {
  width: 180px;  
}

.slider {
  width: 100%;
  accent-color: #00ff00;
}

.button:hover {
  color: black;
  background: white;
  border: 5px solid black;
}

.playButton:hover{
  background-color:#eab308;
  border: 5px solid  #eab308;
  box-shadow: inset 0 0 25px #eab308,0 0 25px #eab308;
}

.betButton:hover{
  background-color:#eab308;
  border: 5px solid  #eab308;
  box-shadow: inset 0 0 25px #eab308,0 0 25px #eab308;   
}

.hitButton:hover{
  background-color:#00a600;
  border: 5px solid  #00a600;
  box-shadow: inset 0 0 25px #00a600,0 0 25px #00a600;   
}

.standButton:hover{
  background-color:#d40000;
  border: 5px solid  #d40000;
  box-shadow: inset 0 0 25px #d40000,0 0 25px #d40000;   
}

.resetButton:hover{
  background-color:#0077b6;
  border: 5px solid  #0077b6;
  box-shadow: inset 0 0 25px #0077b6,0 0 25px #0077b6;   
}
  
.button:disabled {
  color: gray;
  background: rgb(60, 60, 60);
  border: 5px solid gray;
  box-shadow: none;
}
  
@media screen and (max-width: 992px) {
  .betContainer {
    width: 300px;    
  }
}

@media screen and (max-width: 600px) {
  .betContainer {
    width: 250px;        
  }
  .betContainer h4 {
    font-size: 75%;        
  }
  .betContainer input {
    font-size: 1rem;        
  }

  .sliderBox {
  width: 150px;  
}
}
  
  
  