.statusContainer {
    display: flex;
    justify-content: center;
  }
  
  .status {    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0.5rem 0.5rem 1rem;
    padding: 1rem;
    width: 300px;
    background: black;
    border: 5px solid white;
    border-radius: 15px;
    box-shadow: 0px 1px 10px rgb(0, 0, 0);
  }
  
  .balance {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 1rem 0.5rem 0.5rem;
    padding: 1rem;
    width: 150px;
    background: black;
    border: 5px solid white;
    border-radius: 15px;
    box-shadow: 0px 1px 10px rgb(0, 0, 0);
  }
  
  .value {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 200%
  }
  
  @media screen and (max-width: 992px) {
    .value {
      font-size: 150%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .value {
      font-size: 115%;
    }
  }