*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

body {
  background-image: url('/public/blackjack.png');
  background-size: cover;       
  background-repeat: no-repeat; 
  background-position: center; 
  /*background: rgb(0, 78, 0);
  background: radial-gradient(circle, rgb(0, 150, 0), rgb(0, 47, 0));*/
  height:100vh;
  margin: 0;
  display:flex;
  justify-content: center;
  font-family: 'Lexend Exa', sans-serif;
  
}

h1 {
  text-align: center;
  font-size: 50px;
  color:white
}